.u-section-1 .u-sheet-1 {
  min-height: 720px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 945px;
  margin: 27px 68px 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 411px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 22px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 28px 0 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.7em;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 6px auto 0 20px;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 411px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 4px 20px 3px;
}

.u-section-1 .u-form-1 {
  height: 347px;
  margin: 1px auto 0 0;
}

.u-section-1 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  letter-spacing: 1px;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-layout-wrap-2 {
  margin: 0 0 58px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 224px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 167px;
  height: 101px;
  margin: 52px auto 0 6px;
}

.u-section-1 .u-image-2 {
  width: 365px;
  height: 132px;
  margin: -101px 39px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 174px;
  height: 112px;
  margin: -132px auto 0 212px;
}

.u-section-1 .u-image-4 {
  width: 202px;
  height: 96px;
  margin: -104px auto 0 418px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -19px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 409px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 409px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 67px;
    margin-bottom: 28px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 185px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 33px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -61px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -173px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -63px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -27px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 75px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 142px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -287px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 107px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 338px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -23px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -318px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 67px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 37px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 123px;
    margin-top: -65px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: -151px;
    margin-left: 166px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -72px;
    margin-left: 138px;
  }
}